<header class="header text-center">
    <div class="force-overflow">
        <h1 class="blog-name pt-lg-4 mb-0">
            <a href="/">Chinedum Roland Eke</a>
        </h1>

        <nav class="navbar navbar-expand-lg navbar-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
                aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div id="navigation" class="collapse navbar-collapse flex-column">
                <div class="profile-section pt-3 pt-lg-0">
                    <img class="profile-image mb-3 rounded-circle mx-auto" src="assets/images/pro.jpg" alt="image" />

                    <div class="bio mb-3">
                        Hi, my name is Chinedum Roland Eke and I'm a Web Developer.
                        Welcome to my personal website!
                    </div>
                    <!--//bio-->
                    <ul class="social-list list-inline py-2 mx-auto">
                        <li class="list-inline-item">
                            <a href="https://twitter.com/EkeRoland"><i class="fab fa-twitter fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.linkedin.com/in/chinedum-eke-8a8904184/"><i
                                    class="fab fa-linkedin-in fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.github.com/rolandeke"><i class="fab fa-github-alt fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.facebook.com/rolandeke"><i class="fab fa-facebook fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://codepen.io/rolandeke"><i class="fab fa-codepen fa-fw"></i></a>
                        </li>
                    </ul>
                    <!--//social-list-->
                    <hr />
                </div>
                <!--//profile-section-->

                <ul class="navbar-nav flex-column text-left">
                    <li class="nav-item active">
                        <a class="nav-link" href="/"><i class="fas fa-user fa-fw mr-2"></i>About Me<span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/portfolio"><i
                                class="fas fa-laptop-code fa-fw mr-2"></i>Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/resume"><i class="fas fa-file-alt fa-fw mr-2"></i>Resume</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact"><i
                                class="fas fa-envelope-open-text fa-fw mr-2"></i>Contact</a>
                    </li>
                </ul>

                <div class="my-2">
                    <a class="btn btn-primary" href="/contact" target="_blank"><i
                            class="fas fa-paper-plane mr-2"></i>Hire Me</a>
                </div>
            </div>
        </nav>
    </div>
    <!--//force-overflow-->
</header>