<title>
    <%- (typeof title != 'undefined' ? title : "Chinedum Roland Eke") %> 
</title>


<!-- Meta -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="My name is Chinedum Roland Eke, an enthusiastic software engineer with 2+ years experience, a full stack web developer, heavily concentrated in web and mobile development,JAVA,Nodejs,SQL, MongoDB.">
<meta name="author" content="Chinedum Roland Eke official website">
<link rel="icon" type="image/png" href="/assets/images/icon.png">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">

<!-- FontAwesome JS -->
<script defer src="./assets/fontawesome/all.js"></script>

<!-- Owl Stylesheets -->
<link rel="stylesheet" href="./assets/owlcarousel/owl.carousel.min.css">
<link rel="stylesheet" href="./assets/owlcarousel/owl.theme.default.min.css">

<!-- Theme CSS -->
<link id="theme-style" rel="stylesheet" href="./assets/css/theme-1.css">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-24707561-56"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-24707561-56');
</script>