<div class="main-wrapper">

    <section class="about-me-section p-3 p-lg-5 theme-bg-light">
        <div class="container">
            <div class="profile-teaser media flex-column flex-lg-row">

                <div class="media-body">
                    <h2 class="name font-weight-bold mb-1">Chinedum Roland Eke</h2>
                    <div class="tagline mb-3">Full Stack Web Developer | Android Developer</div>
                    <div class="bio mb-4">I'm a software engineer specialised in frontend and backend development
                        for scalable web, mobile and desktop apps.Want to know how I may help your project? Check out my
                        project
                        <a class="link-on-bg" href="/project">portfolio</a> and <a class="link-on-bg"
                            href="r/resume">online resume</a>.
                    </div>
                    <!--//bio-->
                    <div class="mb-4">
                        <a class="btn btn-primary mr-2 mb-3" href="/portfolio."><i
                                class="fas fa-arrow-alt-circle-right mr-2"></i><span
                                class="d-none d-md-inline">View</span> Portfolio</a>
                        <a class="btn btn-secondary mb-3" href="/resume"><i class="fas fa-file-alt mr-2"></i><span
                                class="d-none d-md-inline">View</span>
                            Resume</a>
                    </div>
                </div>
                <!--//media-body-->
                <img class="profile-image mb-3 mb-lg-0 ml-lg-5 mr-md-0" src="/assets/images/me2.jpg" alt="">
            </div>
        </div>
    </section>
    <!--//about-me-section-->

    <section class="overview-section p-3 p-lg-5">
        <div class="container">
            <h2 class="section-title font-weight-bold mb-3">What I do</h2>
            <div class="section-intro mb-5">Hi! my name is Chinedum Roland Eke! I am a passionate software engineer,
                specializing in full-stack development using a variety of languages and frameworks, specializing
                mostly in JavaScript/Node.js but also work with PHP, Python, ASP.Net & Java. Want to find out more
                about my experience? Check out my <a href="/resume">online resume</a> and <a
                    href="/portfolio">project portfolio</a>.</div>
            <div class="row">
                <div class="item col-6 col-lg-3">
                    <div class="item-inner">
                        <div class="item-icon"><i class="fab fa-js-square"></i></div>
                        <h3 class="item-title">Vanilla JavaScript</h3>
                        <!-- <div class="item-desc">List skills/technologies here. You can change the icon above to any
								of the 1500+ <a class="theme-link" href="https://fontawesome.com/"
								   target="_blank">FontAwesome 5 free icons</a> available. Aenean commodo ligula eget
								dolor.</div> -->
                    </div>
                    <!--//item-inner-->
                </div>
                <!--//item-->
                <div class="item col-6 col-lg-3">
                    <div class="item-inner">
                        <div class="item-icon"></i><i class="fab fa-react mr-2"></i></div>
                        <h3 class="item-title">React</h3>
                        <!-- <div class="item-desc">List skills/technologies here. You can change the icon above to any
								of the 1500+ <a class="theme-link" href="https://fontawesome.com/"
								   target="_blank">FontAwesome 5 free icons</a> available. Aenean commodo ligula eget
								dolor. </div> -->
                    </div>
                    <!--//item-inner-->
                </div>
                <!--//item-->

                <div class="item col-6 col-lg-3">
                    <div class="item-inner">
                        <div class="item-icon"><i class="fab fa-node-js"></i></div>
                        <h3 class="item-title">Node.js</h3>
                        <!-- <div class="item-desc">List skills/technologies here. You can change the icon above to any
								of the 1500+ <a class="theme-link" href="https://fontawesome.com/"
								   target="_blank">FontAwesome 5 free icons</a> available. Aenean commodo ligula eget
								dolor. </div> -->
                    </div>
                    <!--//item-inner-->
                </div>
                <!--//item-->

                <div class="item col-6 col-lg-3">
                    <div class="item-inner">
                        <div class="item-icon"><i class="fab fa-python"></i></div>
                        <h3 class="item-title">Python</h3>
                        <!-- <div class="item-desc">List skills/technologies here. You can change the icon above to any
								of the 1500+ <a class="theme-link" href="https://fontawesome.com/"
								   target="_blank">FontAwesome 5 free icons</a> available. Aenean commodo ligula eget
								dolor. </div> -->
                    </div>
                    <!--//item-inner-->
                </div>
                <!--//item-->
                <div class="item col-6 col-lg-3">
                    <div class="item-inner">
                        <div class="item-icon"><i class="fab fa-php"></i></div>
                        <h3 class="item-title">PHP</h3>
                        <!-- <div class="item-desc">List skills/technologies here. You can change the icon above to any
								of the 1500+ <a class="theme-link" href="https://fontawesome.com/"
								   target="_blank">FontAwesome 5 free icons</a> available. Aenean commodo ligula eget
								dolor. </div> -->
                    </div>
                    <!--//item-inner-->
                </div>
                <!--//item-->
                <div class="item col-6 col-lg-3">
                    <div class="item-inner">
                        <div class="item-icon"><i class="fab fa-npm mr-2"></i></div>
                        <h3 class="item-title">NPM</h3>
                        <!-- <div class="item-desc">List skills/technologies here. You can change the icon above to any
								of the 1500+ <a class="theme-link" href="https://fontawesome.com/"
								   target="_blank">FontAwesome 5 free icons</a> available. Aenean commodo ligula eget
								dolor. </div> -->
                    </div>
                    <!--//item-inner-->
                </div>
                <!--//item-->
                <div class="item col-6 col-lg-3">
                    <div class="item-inner">
                        <div class="item-icon"><i class="fab fa-html5 mr-2"></i><i class="fab fa-css3-alt"></i>
                        </div>
                        <h3 class="item-title">HTML &amp; CSS</h3>
                        <!-- <div class="item-desc">List skills/technologies here. You can change the icon above to any
								of the 1500+ <a class="theme-link" href="https://fontawesome.com/"
								   target="_blank">FontAwesome 5 free icons</a> available. Aenean commodo ligula eget
								dolor. </div> -->
                    </div>
                    <!--//item-inner-->
                </div>
                <!--//item-->
                <div class="item col-6 col-lg-3">
                    <div class="item-inner">
                        <div class="item-icon"><i class="fab fa-java mr-2"></i></div>
                        <h3 class="item-title">JAVA</h3>
                        <!-- <div class="item-desc">List skills/technologies here. You can change the icon above to any
								of the 1500+ <a class="theme-link" href="https://fontawesome.com/"
								   target="_blank">FontAwesome 5 free icons</a> available. Aenean commodo ligula eget
								dolor. </div> -->
                    </div>
                    <!--//item-inner-->
                </div>
                <!--//item-->
            </div>
            <!--//row-->
            <div class="text-center py-3"><a class="btn btn-primary" href="/contact" target="_blank"><i
                        class="fas fa-paper-plane mr-2"></i>Hire Me</a></div>

        </div>
        <!--//container-->
    </section>

    <div class="container">
        <hr>
    </div>

    <section class="featured-section p-3 p-lg-5">
        <div class="container">
            <h2 class="section-title font-weight-bold mb-5">Featured Projects</h2>
            <div class="row">
                <div class="col-md-6 mb-5">
                    <div class="card project-card">
                        <div class="row no-gutters">
                            <div class="col-lg-4 card-img-holder">
                                <img src="/assets/images/project/project-1.jpg" class="card-img" alt="image">
                            </div>
                            <div class="col-lg-8">
                                <div class="card-body">
                                    <h5 class="card-title"><a href="https://savesalonecharity.herokuapp.com"
                                            target="_blank" class="theme-link">Save Salone Charity Foundation</a></h5>
                                    <p class="card-text">This is a web project for Save Salone Charity Foundation. A
                                        Non- Governmental Charity organization aimed at helping the poor and the less
                                        previledged.</p>
                                    <p class="card-text"><small class="text-muted">Client: Save Salone Charity
                                            Foundation</small></p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!--//card-->
                </div>
                <!--//col-->
                <div class="col-md-6 mb-5">
                    <div class="card project-card">
							<div class="row no-gutters">
								<div class="col-lg-4 card-img-holder">
									<img src="assets/images/project/project-2.jpg" class="card-img" alt="image">
								</div>
								<div class="col-lg-8">
									<div class="card-body">
										<h5 class="card-title"><a href="project.html" class="theme-link">TimLisaChiGold Online Store</a></h5>
										<p class="card-text">TimLisaChiGold is a business founded in Germany in 2020.</p>
										<p class="card-text"><small class="text-muted">Client: TimLisaChiGold </small></p>
									</div>
								</div>
							</div>
						</div> 
                        <!--//card-->
                </div>
                <!--//col-->
                <div class="col-md-6 mb-5">
                    <!-- <div class="card project-card">
							<div class="row no-gutters">
								<div class="col-lg-4 card-img-holder">
									<img src="assets/images/project/project-3.jpg" class="card-img" alt="image">
								</div>
								<div class="col-lg-8">
									<div class="card-body">
										<h5 class="card-title"><a href="project.html" class="theme-link">Project
												Heading</a></h5>
										<p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
											Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
											ridiculus mus. </p>
										<p class="card-text"><small class="text-muted">Client: Google</small></p>
									</div>
								</div>
							</div>
						</div> -->
                    <!--//card-->
                </div>
                <!--//col-->
                <div class="col-md-6 mb-5">
                    <div class="card project-card">
                        <!-- <div class="row no-gutters">
								<div class="col-lg-4 card-img-holder">
									<img src="assets/images/project/project-4.jpg" class="card-img" alt="image">
								</div>
								<div class="col-lg-8">
									<div class="card-body">
										<h5 class="card-title"><a href="project.html" class="theme-link">Project
												Heading</a></h5>
										<p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
											Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
											ridiculus mus. </p>
										<p class="card-text"><small class="text-muted">Client: Uber</small></p>
									</div>
								</div>
							</div>
						</div> -->
                        <!--//card-->
                    </div>
                    <!--//col-->
                </div>
                <!--//row-->
                <div class="text-center py-3"><a href="/portfolio" class="btn btn-primary"><i
                            class="fas fa-arrow-alt-circle-right mr-2"></i>View Portfolio</a></div>

            </div>
            <!--//container-->
    </section>
    <!--//featured-section-->

    <div class="container">
        <hr>
    </div>



    <%- include ('partials/footer') %>
</div>
<!--//main-wrapper-->