<div class="main-wrapper">
  <section class="cta-section theme-bg-light py-5">
    <div class="container text-center single-col-max-width">
      <h2 class="heading">Portfolio</h2>
      <div class="intro">
        <p>
          Welcome to my online portfolio.I'm taking on freelance work at the
          moment. Want some help building your software?
        </p>
      </div>
      <a class="btn btn-primary" href="/contact"><i class="fas fa-paper-plane mr-2"></i>Hire
        Me</a>
    </div>
    <!--//container-->
  </section>
  <section class="projects-list px-3 py-5 p-md-5">
    <div class="container">
      <div class="text-center">
        <ul id="filters" class="filters mb-5 mx-auto pl-0">
          <li class="type active mb-3 mb-lg-0 btn-filter" data-filter="*">All</li>
          <!-- <li class="type  mb-3 mb-lg-0 btn-filter" data-filter=".cms">CMS</li>
          <li class="type  mb-3 mb-lg-0 btn-filter" data-filter="mobileapp">NodeJS</li> -->
          <!-- <li class="type  mb-3 mb-lg-0" data-filter=".frontend">Frontend</li>
          <li class="type  mb-3 mb-lg-0" data-filter=".backend">Backend</li>
        </ul>
        <!--//filters-->
      </div>

      <div class=" row ">
        <ul class="list-unstyled" id="proj-list">
          <li class="media mb-4">
            <a class="d-flex" href="https://www.vatefund.com/">
              <img src="/assets/images/project/vatefund.jpg" class=" img-fluid img-responsive mr-sm-3 my-sm-3"
                width="200" alt="image">
            </a>
            <div class="media-body">
              <h4 class="card-title text-uppercase"><a href="https://www.vatefund.com/" target="_blank"
                  class="theme-link">Vatefund
                  SL</a></h4>
              <p class="card-text">Vatefund SL is a non-profit innovation fund headquartered in
                Sierra Leone with an office in Freetown, that invests in the
                development of innovators in the country.</p>
              <p class="card-text"><small class="text-muted text-client">Client: Save Salone
                  Charity
                  Foundation</small></p>
            </div>
          </li>

          <li class="media mb-4">
            <a class="d-flex" href="https://www.sonnetsl.com/">
              <img src="/assets/images/project/project-3.jpg" class=" img-fluid img-responsive mr-sm-3 my-sm-3"
                width="200" alt="image">
            </a>
            <div class="media-body">
              <h4 class="card-title text-uppercase"><a href="https://www.sonnetsl.com/" target="_blank"
                  class="theme-link">Sonnet
                  (SL)
                  Ltd.</a></h4>
              <p class="card-text">Sonnet (SL) Ltd is an electrical and electronics store based in
                Sierra Leone, they offer the best quality products in electrical,electronics and
                home appliances.</p>
              <p class="card-text"><small class="text-muted text-client">Client: Sonnet (SL)
                  Ltd</small>
              </p>
            </div>
          </li>

          <li class="media mb-4">
            <a class="d-flex" href="https://www.timlisachigold.com">
              <img src="/assets/images/project/project-2.jpg" class=" img-fluid img-responsive mr-sm-3 my-sm-3"
                width="200" alt="image">
            </a>
            <div class="media-body">
              <h4 class="card-title text-uppercase"><a href="https://www.timlisachigold.com" class="theme-link"
                  target="_blank">TimLisaChiGold Online
                  Store</a></h4>
              <p class="card-text">TimLisaChiGold is a business founded in Germany in 2020.It
                is a
                beauty and Fashion online store that provides the best and quality products for
                residents in Germany.</p>
              <p class="card-text"><small class="text-muted text-client">Client:
                  TimLisaChiGold
                  Online
                  Store</small></p>
            </div>
          </li>






          <li class="media mb-4">
            <a class="d-flex" href="https://bssl-beta.herokuapp.com/">
              <img src="/assets/images/project/bssl2.jpg" class=" img-fluid img-responsive mr-sm-3 my-sm-3" width="200"
                alt="image">
            </a>
            <div class="media-body">
              <h4 class="card-title text-uppercase"><a href="https://bssl-beta.herokuapp.com/" class="theme-link">BSSL
                  CLONE</a></h4>
              <p class="card-text">It is a custom web application built with NodeJS that mimics
                the Big Sister voting mobile App. It real time voting and
                an admin panel for adding, evicting, and putting housemates up for eviction.</p>
              <p class="card-text"><small class="text-muted text-client">Client: Personal
                  Project</small></p>
            </div>
          </li>



          <li class="media mb-4">
            <a class="d-flex" href="https://scorpionchatbot.herokuapp.com/">
              <img src="/assets/images/project/scorpion.png" class=" img-fluid img-responsive mr-sm-3 my-sm-3"
                width="200" alt="image">
            </a>
            <div class="media-body">
              <h4 class="card-title text-uppercase"><a href="https://scorpionchatbot.herokuapp.com/" target="_blank"
                  class="theme-link">Scorpion ChatBot</a></h4>
              <p class="card-text">A custom web application built with NodeJS, Express framework and Socket.io. It
                supports real-time messaging and users can choose different chat room they want to chat.</p>
              <p class="card-text"><small class="text-muted text-client">Client: Personal Project</small></p>
            </div>
          </li>
        </ul>







      </div>
      <!--//row-->
    </div>
  </section>

  <%- include ('partials/footer') %>
</div>
<!--//main-wrapper-->