<div class="main-wrapper">
    <section class="cta-section theme-bg-light py-5">
        <div class="container text-center single-col-max-width">
            <h2 class="heading mb-3">Online Resume</h2>
            <!-- <a class="btn btn-primary" href="https://themes.3rdwavemedia.com/resources/sketch-template/resume-sketch-sketch-resume-template-for-software-developers/" target="_blank"><i class="fas fa-file-pdf mr-2"></i>Download PDF Version</a>	 -->
        </div>
        <!--//container-->
    </section>
    <div class="container px-3 px-lg-5">
        <article class="resume-wrapper mx-auto theme-bg-light p-5 mb-5 my-5 shadow-lg">

            <div class="resume-header">
                <div class="row align-items-center">
                    <div class="resume-title col-12 col-md-6 col-lg-8 col-xl-9">
                        <h2 class="resume-name mb-0 text-uppercase">Chinedum Eke</h2>
                        <div class="resume-tagline mb-3 mb-md-0">Software Engineer</div>
                    </div>
                    <!--//resume-title-->
                    <div class="resume-contact col-12 col-md-6 col-lg-4 col-xl-3">
                        <ul class="list-unstyled mb-0">
                            <li class="mb-2"><i class="fas fa-phone-square fa-fw fa-lg mr-2 "></i><a class="resume-link"
                                    href="tel:+23299540326">+23299540326</a></li>
                            <li class="mb-2"><i class="fas fa-envelope-square fa-fw fa-lg mr-2"></i><a
                                    class="resume-link" href="mailto:rolandeke49@gmail.com">rolandeke49@gmail.com</a>
                            </li>
                            <li class="mb-0"><i class="fas fa-map-marker-alt fa-fw fa-lg mr-2"></i>Freetown, Sierra
                                Leone</li>
                        </ul>
                    </div>
                    <!--//resume-contact-->
                </div>
                <!--//row-->

            </div>
            <!--//resume-header-->
            <hr>
            <div class="resume-intro py-3">
                <div class="media flex-column flex-md-row align-items-center">
                    <img class="resume-profile-image mb-3 mb-md-0 mr-md-5 ml-md-0 rounded mx-auto"
                        src="assets/images/me2.jpg" alt="image">
                    <div class="media-body text-left">
                        <p class="mb-0">A well-seasoned student with an excellent behavior. I am currently pursuing
                            a Bachelor’s of Science degree with Honors in Computer Science at Njala University,
                            Freetown,Sierra Leone. I have vast ideal in setting up and leading functions, I am Ideal
                            in multi-cultural settings and I have the ability to adapt quickly to different
                            organizational cultures. I can work independently and also lead a team, I am able to
                            communicate complex information to different audiences (both verbal and written).</p>
                    </div>
                    <!--//media-body-->
                </div>
            </div>
            <!--//resume-intro-->
            <hr>
            <div class="resume-body">
                <div class="row">
                    <div class="resume-main col-12 col-lg-8 col-xl-9 pr-0 pr-lg-5">
                        <section class="work-section py-3">
                            <h3 class="text-uppercase resume-section-heading mb-4">Work Experiences</h3>
                            <div class="item mb-3">
                                <div class="item-heading row align-items-center mb-2">
                                    <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Software Engineer
                                    </h4>
                                    <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-left text-md-right">
                                        Comsoft Solutions Linited | 2019 - Present</div>

                                </div>
                                <div class="item-content">
                                    <p>I have been working for Comsoft Solutions Limited for over two years and have
                                        helped in developing efficient softwares for helping clients solve their IT
                                        related problems and to also help ease work flow in their organizations. </p>
                                    <ul class="resume-list">
                                        <li>Programing Desktop Application and working with GIS </li>
                                        <li>Web Design and Development </li>
                                        <li>Data Collection and Analysis </li>
                                    </ul>
                                </div>
                            </div>
                            <!--//item-->

                        </section>
                        <!--//work-section-->


                        <section class="project-section py-3">
                            <h3 class="text-uppercase resume-section-heading mb-4">Projects</h3>
                            <div class="item mb-3">
                                <div class="item-heading row align-items-center mb-2">
                                    <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0"><a
                                            href="https://savesalonecharity.herokuapp.com" target="_blank"
                                            class="theme-link">Save Salone Charity Foundation</a>
                                    </h4>
                                    <!-- <div
											 class="item-meta col-12 col-md-6 col-lg-4 text-muted text-left text-md-right">
											Open Source</div> -->

                                </div>
                                <div class="item-content">
                                    <p>This is a web project for Save Salone Charity Foundation. A Non- Governmental
                                        Charity organization aimed at helping the
                                        poor and the less previledged.</p>


                                </div>
                            </div>
                            <!--//item-->
                        </section>
                        <!--//project-section-->
                    </div>
                    <!--//resume-main-->
                    <aside class="resume-aside col-12 col-lg-4 col-xl-3 px-lg-4 pb-lg-4">
                        <section class="skills-section py-3">
                            <h3 class="text-uppercase resume-section-heading mb-4">Skills</h3>
                            <div class="item">
                                <h4 class="item-title">Technical</h4>
                                <ul class="list-unstyled resume-skills-list">
                                    <li class="mb-2">JavaScript/React</li>
                                    <li class="mb-2">Python/PHP
                                    <li>
                                    <li class="mb-2">Node.js/ASP.NET</li>
                                    <li class="mb-2">MongoDB/MySQL</li>
                                    <li class="mb-2">Object-oriented design</li>
                                </ul>
                            </div>
                            <!--//item-->
                            <div class="item">
                                <h4 class="item-title">Professional</h4>
                                <ul class="list-unstyled resume-skills-list">
                                    <li class="mb-2">Effective communication</li>
                                    <li class="mb-2">Team player
                                    <li>
                                    <li class="mb-2">Strong problem solver</li>
                                    <li>Good time management</li>
                                </ul>
                            </div>
                            <!--//item-->
                        </section>
                        <!--//skills-section-->
                        <section class="education-section py-3">
                            <h3 class="text-uppercase resume-section-heading mb-4">Education</h3>
                            <ul class="list-unstyled resume-education-list">
                                <li class="mb-3">
                                    <div class="resume-degree font-weight-bold">BSc in Computer Science</div>
                                    <div class="resume-degree-org text-muted">Njala University</div>
                                    <div class="resume-degree-time text-muted">2010 - 2011</div>
                                </li>
                            </ul>
                        </section>
                        <!--//education-section-->

                        <!--Award Section-->
                        <!-- <section class="education-section py-3">
										<h3 class="text-uppercase resume-section-heading mb-4">Awards</h3>
										<ul class="list-unstyled resume-awards-list">
											<li class="mb-3">
												<div class="font-weight-bold">Award Lorem Ipsum</div>
												<div class="text-muted">Microsoft lorem ipsum (2019)</div>
											</li>
											<li>
												<div class="font-weight-bold">Award Donec Sodales</div>
												<div class="text-muted">Oracle Aenean (2017)</div>
											</li>
										</ul>
                                    </section> -->
                        <!--//Award-section-->

                        <section class="skills-section py-3">
                            <h3 class="text-uppercase resume-section-heading mb-4">Languages</h3>
                            <ul class="list-unstyled resume-lang-list">
                                <li class="mb-2">English <span class="text-muted">(Native)</span></li>
                                <li>Creole(Krio) <span class="text-muted">(Professional)</span></li>
                            </ul>
                        </section>
                        <!--//certificates-section-->
                        <section class="skills-section py-3">
                            <h3 class="text-uppercase resume-section-heading mb-4">Interests</h3>
                            <ul class="list-unstyled resume-interests-list mb-0">
                                <li class="mb-2">Music</li>
                                <li class="mb-2">Singing</li>
                                <li class="mb-2">Photography</li>
                                <li>Travelling</li>
                            </ul>
                        </section>
                        <!--//certificates-section-->

                    </aside>
                    <!--//resume-aside-->
                </div>
                <!--//row-->
            </div>
            <!--//resume-body-->
            <hr>
            <div class="resume-footer text-center">
                <ul class="resume-social-list list-inline mx-auto mb-0 d-inline-block text-muted">
                    <li class="list-inline-item mb-lg-0 mr-3"><a class="resume-link"
                            href="https://www.github.com/rolandeke"><i class="fab fa-github-square fa-2x mr-2"
                                data-fa-transform="down-4"></i><span class="d-none d-lg-inline-block text-muted">Roland
                                Eke</span></a></li>
                    <li class="list-inline-item mb-lg-0 mr-3"><a class="resume-link"
                            href="https://www.linkedin.com/in/chinedum-eke-8a8904184/"><i
                                class="fab fa-linkedin fa-2x mr-2" data-fa-transform="down-4"></i><span
                                class="d-none d-lg-inline-block text-muted">Chinedum Rolad Eke</span></a></li>
                    <li class="list-inline-item mb-lg-0 mr-lg-3"><a class="resume-link"
                            href="https://www.twitter.com/EkeRoland"><i class="fab fa-twitter-square fa-2x mr-2"
                                data-fa-transform="down-4"></i><span
                                class="d-none d-lg-inline-block text-muted">@EkeRoland</span></a></li>
                </ul>
            </div>
            <!--//resume-footer-->
        </article>

    </div>
    <!--//container-->

    <%- include ('partials/footer') %>
</div>
<!--//main-wrapper-->